@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
button,
input,
select,
textarea {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
:root {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-size: 1.6em;
  background-color: #f9f9f9;
}
main {
  min-width: 300px;
}
#container {
  display: grid;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
}
header {
  background: linear-gradient(145deg, #4fc3ff 0%, #3a38f0 100%);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
h1 {
  font-size: 4rem;
  text-align: center;
  color: #f9f9f9;
}
.item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}
.radio-opcao {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.item .campo label,
.campo span {
  min-width: 120px;
}
input[type="number"],
button {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}
input[type="number"],
button,
.seletor {
  border: 1px solid #397bff;
}
input[type="number"] {
  flex: 1;
}
input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 5px #3a38f0;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 0;
  height: 0;
  position: absolute;
}

.seletor {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  position: relative;
  display: inline-block;
}

input[type="radio"]:checked + .seletor::after {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background-color: #3a38f0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button {
  cursor: pointer;
  width: 100%;
  background: #397bff;
  color: #f9f9f9;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
button:hover {
  background: #3a38f0;
  color: #f9f9f9;
  transition: all 0.1s ease
}
button:active {
  transform: scale(0.97);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25) inset;
}
#resultado {
  text-align: center;
  width: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}
#resultado.ativo {
  opacity: 1;
  transform: translateY(0);
}
